.idea/
.bundle/
.sass-cache/
.envrc
.rvmrc
.ruby-version
.ruby-gemset
.rake_tasks
.ackrc
.rubycop
.*swp
*.bak
.*swo
.*swn
*.orig
*.tags
.tags_sorted_by_file

db/*.sqlite3
log/*.log

config/database.yml
config/lead_processor.yml
config/schedule.rb
config/environments/development.rb

bin/
public/assets/
public/uploads/
tmp/
uploads/
vendor/bundle